h1 {
  direction: rtl;
}
p {
  width: 50ch;
  direction: rtl;
  /*text-transform: capitalize; 
  text-decoration: underline;
  text-indent: 1rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  column-count: 2;
  column-gap: 2rem;
  column-rule: 3px dotted #999;*/
}
