<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="CSS/exerciseLayout.css" />
    <link rel="stylesheet" href="CSS/normalize.css" />
  </head>
  <body>
    <div class="gallery">
      <img src="ImagesLayout/breadf.jpg" alt="" />
      <img src="ImagesLayout/egg.jpg" alt="" />
      <img src="ImagesLayout/onepear.jpg" alt="" />
      <img src="ImagesLayout/pear.jpg" alt="" />
      <img src="ImagesLayout/Plate.jpg" alt="" />
      <img src="ImagesLayout/sea.jpg" alt="" />
      <img src="ImagesLayout/soup.jpg" alt="" />
      <img src="ImagesLayout/toast.jpg" alt="" />
      <img src="ImagesLayout/vegetables.jpg" alt="" />
    </div>
  </body>
</html>
