<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="CSS/tenth.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          velit temporibus hic, delectus sint quisquam assumenda explicabo neque
          ipsum saepe, enim earum illum? Corporis voluptatibus sequi ut iure
          quis deleniti?
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
          placeat quasi numquam, iste laboriosam distinctio molestias ratione,
          culpa facilis modi, doloremque enim officia? Error repudiandae sequi
          nihil aut nobis nemo?
        </p>
      </div>
    </div>
  </body>
</html>
