<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="CSS/third.css" />
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum harum
        repellendus quas. Quasi id quas necessitatibus culpa natus hic, omnis
        quaerat, incidunt accusamus eos maiores aliquid repudiandae voluptatem,
        repellendus odio nemo minus? Nobis labore distinctio cumque laudantium,
        officiis fuga odio illum. Deleniti rerum consequatur dolorem, voluptate
        facilis unde quia minima.
      </p>
    </div>
  </body>
</html>
